
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.nav-link{
    font-size: 20px;
}

.navbar-brand{
    font-size: 23px
}